@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* /app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
body {
  @apply bg-background text-foreground antialiased;
}
.container {
  @apply max-w-[1500px];
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
}

.my-pop {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
  /* padding-top: 56px !important; */
  transition: 150ms ease-in-out;
  transition-property: background-color;
  scroll-behavior: smooth !important;
  font-family: "Epilogue", sans-serif;
}

/* ::selection {
  background-color: rgb(168 85 247);
} */

.wrapper {
  height: fit;
  /*This part is important for centering*/
  display: grid;
  place-items: start;
}

.typing-demo {
  width: 480px;
  animation: typing 5s steps(25, end) infinite forwards,
    blink 0.8s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  0% {
    width: 0px;
  }
  50% {
    width: 480px;
  }
  100% {
    width: 0px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Base (::after) */
.rescue-data::after {
  content: "";
  position: absolute;
  top: -68px;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1;

  background: white;
  clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);

  /* Tailwind: after:transition-all after:duration-300 */
  transition: background 300ms ease-in-out;
}

/* Hover/active variant (নীল গ্রেডিয়েন্ট) */
.rescue-data:hover::after,
.rescue-data.is-hovered::after {
  background: #0e2a52;
}

.hero-bg {
  background-image: url("/images/slide-background.jpg");
}
.rallies-team-bg {
  background-image: url("/images/right-side-bg.png");
}
/* globals.css or component-level CSS (recommended) */

.service-tile::before {
  content: "";
  position: absolute;
  top: -120%;
  left: -120%;
  width: 250%;
  height: 250%;
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 0.3) 50%,
    transparent 60%
  );
  transform: rotate(30deg);
  transition: 0.6s;
}

.service-tile:hover::before {
  top: -20%;
  left: -20%;
}
